.disk-detail-wrapper {
  max-width: 100%
}

.back-button {
  position: absolute;
  top: 20px;
  right: 0;
}

.disk-title {
  margin-left: 5px;
  margin-right: 5px;
}

.disk-info dl dd {
  margin-left: 10%;
}

.disk-info dl dt {
  margin-left: 5%;
  position: relative;
}

.disk-info .rate-wrapper {
  position: absolute;
  top: -10px;
  right: 5%;
}

.disk-info .reserve-wrapper {
  position: absolute;
  bottom: 5px;
  right: 5%;
}

.disk-cover img {
  max-height: 330px;
}

.disk-cover {
  text-align: center;
}

.disk-cover-wrapper {
  margin: 0 auto;
  max-width: 220px;
}

.rate-area {
  float: right;
}

.disk-basic {
  margin-top: 5px;
  margin-bottom: 5px;
}

.disk-plot {
  margin-top: 5px;
  margin-bottom: 5px;
}

#remarks {
  width: 100%;
  height: 80px;
  resize: none;
}

.review-wrapper {
  width: 100%;
  padding: 10px;
}

.review-frame {
  padding: 10px;
  width: 100%;
}

.review {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 5px;
}

.input-wrapper {
  width: 100%;
  height: auto;
}

  .input-wrapper textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 5px;
  }

  .input-wrapper button {
    float: right;
  }

  /* -------------patch ------------*/
p, h4, h3, h2, h1 {
  font-family: "Yu Gothic", SimHei;
}

.back-button[_ngcontent-c5] {
  position: absolute;
  top: 15px;
  right: 5%;
}