/*-----------------------Jumbotron & Title------------------------------------------------------------------*/
.title {
  position: relative;
  height: 120px;
  text-align: center;
}

.title .container {
  padding-top: 15px;
  position: relative;
  z-index: 1;
}

.title .container .main-title {
  color: black;
}




.jumbotron {
  position: relative;
  background-image: url('../../assets/NEW2.jpg');
  position: relative;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-origin: border-box;
  -moz-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.jumbotron .haze {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0);
}


/*--------------------------wrapper-------------------------------*/


#wrapper {
  padding-top: 20px;
  position: relative;
  height: 1000px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

  #wrapper.toggled {
    padding-left: 300px;
  }

.scroll-spinner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
}

#sidebar-wrapper {
  padding-left: 5px;
  z-index: 1000;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  margin-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

/*---------- phone-mode ----------*/
.phone-wrapper {
  text-align: center;
  padding-top: 20px;
  position: relative;
  min-height: 650px;
  padding-left: 20%;
  padding-right: 20%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

  .phone-wrapper .button-wrapper {
    width: 260px;
    text-align: center;
    height: 240px;
  }

    .phone-wrapper .button-wrapper .btn-group-vertical {
      width: 90%;
    }

    .phone-wrapper .button-wrapper .button-list {
      border-left-color: rgba(128, 128, 128, 0.3);
      border-bottom-color: rgba(128, 128, 128, 0.3);
      border-top-color: black;
      border-right-color: rgba(128, 128, 128, 0.3);
      border-style: solid;
      /*border-color: rgba(128, 128, 128, 0.3);*/
      border-width: 2px;
      background-color: #f1f1f1;
      width: 250px;
      height: 215px;
      box-shadow: 6px 6px 3.5px rgba(0, 0, 0, 0.7);
    }



.podcast-label-phone {
  border-left-color: rgba(128, 128, 128, 0.3);
  border-bottom-color: rgba(128, 128, 128, 0.3);
  border-top-color: black;
  border-right-color: rgba(128, 128, 128, 0.3);
  border-style: solid;
  border-width: 2px;
  height: 250px;
  width: 240px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 0.7em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  position: relative;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transform-origin: 1em center;
  -moz-transform-origin: 1em center;
  -o-transform-origin: 1em center;
  transform-origin: 1em center;
  /* these two lines are used to solve the unstable view that occurs in the Chrome */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

  .podcast-label-phone:hover {
    height: 280px;
  }

  .podcast-label-phone.selected {
    border-top-color: #ba4040;
    height: 280px;
  }


  .podcast-label-phone .podcast-brief-wrapper {
    text-align: center;
  }


  .podcast-label-phone .podcast-brief-wrapper .podcast-title {
    font-size: 11.5px;
    margin-left: -5px;
    width: 225px;
    text-align: center;
  }

  .podcast-label-phone .podcast-brief-wrapper .podcast-picture img {
    max-width: 210px;
    max-height: 200px;
    border-style: solid;
    border-width: 2px;
  }

  .podcast-label-phone .podcast-brief-wrapper {
    text-align: center;
  }
.publication-link audio {
  width: 170px;
  height: 32px;
}

/*--------------------------left panel-------------------------------*/

#sidebar-wrapper .button-wrapper {
  width: 260px;
  text-align: center;
  height: 240px;
}

#sidebar-wrapper .button-wrapper .btn-group-vertical {
  width: 90%;
}

#sidebar-wrapper .button-wrapper .button-list {
  border-left-color: rgba(128, 128, 128, 0.3);
  border-bottom-color: rgba(128, 128, 128, 0.3);
  border-top-color: black;
  border-right-color: rgba(128, 128, 128, 0.3);
  border-style: solid;
  border-width: 2px;
  background-color: #f1f1f1;
  width: 250px;
  height: 215px;
  box-shadow: 6px 6px 3.5px rgba(0, 0, 0, 0.7);
}



.podcast-list {
  width: 260px;
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
}

.podcast-label {
  border-left-color: rgba(128, 128, 128, 0.3);
  border-bottom-color: rgba(128, 128, 128, 0.3);
  border-top-color: black;
  border-right-color: rgba(128, 128, 128, 0.3);
 
  border-style: solid;
  border-width: 2px;
  height: 200px;
  width:240px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 0.7em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  position: relative;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transform-origin: 1em center;
  -moz-transform-origin: 1em center;
  -o-transform-origin: 1em center;
  transform-origin: 1em center;
  /* these two lines are used to solve the unstable view that occurs in the Chrome */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.podcast-label:hover {
  transform: rotate(-4deg);
  height: 230px;
}

.podcast-label.selected {
  transform: rotate(-4deg);
  border-top-color: #ba4040;
  height: 230px;
}



  .podcast-label .podcast-brief-wrapper .podcast-title {
    font-size: 11px;
    margin-left: -5px;
    width: 225px;
    text-align: center;
  }

.podcast-label .podcast-brief-wrapper .podcast-picture img {
  max-width: 200px;
  max-height: 160px;
  border-style: solid;
  border-width: 2px;
}

.podcast-label .podcast-brief-wrapper {
  text-align: center;
}


/*--------------------------right panel-------------------------------*/



#content-wrapper {
  position: absolute;
  float: right;
  width: 100%;
  max-height: 1000px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  text-align: center;
  /* these two lines are used to solve the unstable view that occurs in the Chrome */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#content-wrapper .podcast-detail {
  background-color: #fafafa;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #eee;
  width: 100%;
  min-height: 750px;
}

#content-wrapper .podcast-detail h1 {
  text-align: center;
  margin-top: 10px;
}

#content-wrapper .podcast-detail img {
  border-style: solid;
  border-width: 2px;
}


#content-wrapper .navbar-toggle {
  float: left;
  border: 1px solid #999;
}

#content-wrapper .navbar-toggle .icon-bar {
  background-color: #555;
}


#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -300px;
  width: 100%;
}








/*-------------------------- loading -------------------------------*/
.spinner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader {
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  border: 16px solid #808080;
  border-radius: 50%;
  border-top: 16px solid #FFFFFF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  text-align: center;
  background-position: center center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* ----------------------------------------------------------------------------------------*/

@media(min-width:992px) {
  #wrapper {
    padding-left: 300px;
  }

  #sidebar-wrapper {
    float: left;
    width: 300px;
  }

  #content-wrapper {
    position: relative;
    float: right;
    padding-left: 50px;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0px;
    padding-left: 50px;
  }
}

p, h5, h4, h3, h2, h1 {
  font-family: "Yu Gothic", SimHei;
}


/*----------------- alter(overlap) the default bootstrap----------------- */


.btn-group-vertical > .btn:first-child:not(:last-child) {
  background-color: #ba4040;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  background-color: #ba4040;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  background-color: #ba4040;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}