/*-----------------------Jumbotron & Title------------------------------------------------------------------*/
.title {
  position: relative;
  height: 120px;
  text-align: center;
}

  .title .container {
    padding-top: 15px;
    position: relative;
    z-index: 1;
  }

    .title .container .main-title {
      color: black;
    }




.jumbotron {
  position: relative;
  background-image: url('../assets/NEW2.jpg');
  position: relative;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-origin: border-box;
  -moz-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .jumbotron .haze {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0);
  }

.jumbotron-xs {
  position: relative;
  background-image: url('../assets/phone_ver.jpg');
  position: relative;
  height: 350px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-origin: border-box;
  -moz-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .jumbotron-xs .haze {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0);
  }


/*--------------------------wrapper-------------------------------*/


#wrapper {
  padding-top: 20px;
  position: relative;
  height: 850px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

  #wrapper.toggled {
    padding-left: 300px;
  }

.scroll-spinner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  margin-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}




/*--------------------------left panel-------------------------------*/



.news-list {
  width: 270px;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}

.news-label {
  
  border-left-color: rgba(128, 128, 128, 0.3);
  border-bottom-color: rgba(128, 128, 128, 0.3);
  border-top-color: black;
  border-right-color: rgba(128, 128, 128, 0.3);
  border-style: solid;
  border-width: 2px;
  height: 120px;
  width: 250px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 0.7em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  position: relative;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transform-origin: 1em center;
  -moz-transform-origin: 1em center;
  -o-transform-origin: 1em center;
  transform-origin: 1em center;
  /* these two lines are used to solve the unstable view that occurs in the Chrome */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  text-align:center;
}

  .news-label:hover {
    transform: rotate(-4deg);
    height: 150px;
  }

  .news-label.selected {
    transform: rotate(-4deg);
    border-top-color: #ba4040;
    height: 150px;
  }



  .news-label .news-brief-wrapper .news-title {
    padding-top: 5px;
    width: 220px;
    text-align: center;
  }

  .news-label .news-brief-wrapper {
    text-align: center;
  }








/*--------------------------right panel-------------------------------*/



#content-wrapper {
  overflow-x:hidden;
  position: absolute;
  float: right;
  width: 100%;
  max-height: 800px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  text-align: center;
  /* these two lines are used to solve the unstable view that occurs in the Chrome */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

  #content-wrapper .news-detail {
    background-color: #fafafa;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #eee;
    width: 100%;
    min-height: 750px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 1em;
  }

  #content-wrapper .news-detail h1 {
    text-align: center;
    margin-top: 10px;
  }

  #content-wrapper .news-detail .content-normal {
    font-family: Arial;
    text-align: center;
    max-width: 70%;
    word-wrap: break-word;
    padding-left:30%;
  }

  #content-wrapper .news-detail .content-xs {
    font-family: Arial;
    text-align: center;
    width: 85%;
    word-wrap:break-word;
    padding-left: 15%;
  }




  #content-wrapper .navbar-toggle {
    float: left;
    border: 1px solid #999;
  }

    #content-wrapper .navbar-toggle .icon-bar {
      background-color: #555;
    }


#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -300px;
  width: 100%;
}





/* -----------------------  loading  -----------------------   */
.spinner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader {
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  border: 16px solid #808080;
  border-radius: 50%;
  border-top: 16px solid #FFFFFF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  text-align: center;
  background-position: center center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




@media(min-width:992px) {
  #wrapper {
    padding-left: 300px;
  }

  #sidebar-wrapper {
    float: left;
    width: 300px;
  }

  #content-wrapper {
    position: relative;
    float: right;
    padding-left: 50px;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0px;
    padding-left: 50px;
  }
}

/*  ------- patch -------*/
p, h5, h4, h3, h2, h1 {
  font-family: "Yu Gothic", SimHei;
}